html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html {
  scroll-behavior: smooth;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Lato", sans-serif;
}
.link {
  text-decoration: none;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.home {
  background-color: #fedcd2;
}
.header {
  padding: 25px 0;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
.header_logo {
  width: 100%;
  max-width: 130px;
  margin-right: 3px;
}
.logo_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 110%;
  color: #1e212c;
  text-decoration: none;
  display: flex;
}
.header_logo2 {
  width: 100%;
  max-width: 27px;
  margin-right: 60px;
}
.header_logo2:hover {
  transform: rotate(90deg);
  transition: 0.7s;
  cursor: pointer;
}
.header_list {
  display: flex;
}
.header_list_item {
  list-style-type: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #424551;
  margin-right: 40px;
  cursor: pointer;
}
.header_list_item:hover {
  color: #ff3f3a;
  transition: 0.3s;
}
.header_list_item:last-of-type {
  margin-right: 0;
}
.header_button {
  width: 200px;
  padding: 17px 5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}
.header_button:hover {
  background: #000;
  transition: 0.3s all;
}
.active_user_area {
  display: flex;
  align-items: center;
  margin-left: 190px;
}
.header_login_area {
  display: flex;
  justify-content: space-between;
}
.login_img {
  width: 100%;
  max-width: 20px;
  margin-right: 10px;
}
.header_login {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
  cursor: pointer;
}
.home_page {
  display: flex;
  margin-bottom: 180px;
  justify-content: center;
  justify-content: space-between;
}
.home_page_textarea {
  display: flex;
  flex-direction: column;
}
.home_page_mainimg {
  width: 100%;
  max-width: 600px;
}
.showreel_img {
  width: 100%;
  max-width: 84px;
  margin-right: 5px;
}
.showreel_img:hover {
  transform: rotate(90deg);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: 1s;
  margin-right: 10px;
}
.showreel {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.home_page_showreel {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #1e212c;
}
.home_page_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 1px;
  color: #1e212c;
  line-height: 130%;
  max-width: 500px;
  margin-bottom: 60px;
  margin-left: 10px;
}
.home_page_buttons {
  display: flex;
}
.home_page_btn1 {
  box-sizing: border-box;
  gap: 10px;
  padding: 15px 45px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff3f3a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  margin-right: 20px;
}
.home_page_btn2 {
  box-sizing: border-box;
  gap: 10px;
  padding: 15px 45px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.home_page_btn2:hover {
  background: #000;
  transition: 0.3s;
}
.home_page_nominates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home_page_nominate {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1e212c;
  margin-right: 65px;
  margin-bottom: 100px;
}
.home_page_nominate:last-of-type {
  margin-right: 0px;
}
.home_page_span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1e212c;
  margin-right: 12px;
}
.point {
  margin-right: 65px;
  margin-top: -92px;
}
.point2 {
  margin-right: 65px;
  margin-top: -92px;
}

/* ABOUT */

.about {
  padding: 180px 0;
}
.main_block_about {
  display: flex;
  justify-content: space-between;
}

.text_block_about {
  display: flex;
  flex-direction: column;
}
.about_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.about_list_item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 12px;
  max-width: 370px;
  list-style: none;
  background: url(./images/check.svg) no-repeat 0 4px;
  padding-left: 24px;
}
.about_list_item:last-of-type {
  margin-bottom: 40px;
}
.about_btn {
  box-sizing: border-box;
  gap: 10px;
  width: 161px;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.about_btn:hover {
  background: #000;
  transition: 0.3s;
}
.woman_img {
  width: 100%;
  max-width: 705px;
}

/* *COURSES */

.courses_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.about_subtitle2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.courses_intro_button {
  padding: 0 40px;
  height: 52px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff3f3a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.courses_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
}
.course_img_card {
  width: 100%;
  max-width: 214px;
}
.course_card {
  display: flex;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
  transition: 1s;
  cursor: pointer;
}
.course_card:hover {
  transform: scale(105%);
  transition: 1s;
}
.text_card_content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  padding: 32px 0;
}
.course_name_card1 {
  background: #03cea4;
  border-radius: 4px;
  padding: 2px 5px;
  width: 80px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
}
.course_name_card2 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 90px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #5a87fc;
}
.course_name_card3 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 110px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #f89828;
}
.course_name_card4 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 70px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #f52f6e;
}
.course_card_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
.course_card_span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}
.corse_card_cap {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787a80;
}

/* *BENEFITS */

.benefits {
  padding: 140px 0;
}
.about_subtitle3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 30px;
}
.benefits_button {
  border: none;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #9a9ca5;
  background: #ffffff;
  width: 307px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ffffff;
}
.benefits_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.benefits_button_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 80px;
}
.benefits_button_img {
  fill: #9a9ca5;
}
.benefits_button_text {
  margin-left: 10px;
}
.benefits_button:hover {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  transition: 0.3s all;
}
.benefits_button:hover .benefits_button_img {
  fill: #ff3f3a;
  transition: 0.3s;
}
.benefits_content_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits_content_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 24px;
}
.benefits_content_subtitle {
  max-width: 500px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.benefits_illustration {
  width: 100%;
  max-width: 600px;
}

/* *EVENTS */

.events {
  background-color: #fedcd2;
  padding: 80px 0;
}
.events_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.lectures_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
  text-align: center;
}
.lectures_block {
  display: grid;
  grid-template-columns: repeat(1,3fr);
  margin-bottom: 50px;                            
  
}
.lecture {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 25px;
  transition: 1s all;
}
.lecture:hover {
  transform: scale(102%);
  transition: 1s all;
}
.lecture:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  transition: 0.7s all;
}
.lecture_dates {
  display: flex;
}
.lecture_date {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.lecture_date_time {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 20px;
}
.lecture_date_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}

.lecture_date_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #787a80;
}
.lecture_btn {
  padding: 0px 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: #ffffff;
  color: #ff3f3a;
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  cursor: pointer;
}
.lecture_btn:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
  transition: 0.3s all;
}
.lecture_btn_block {
  display: flex;
  justify-content: center;
  align-items: center;
}
.more_lecture_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more_lecture_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
  margin-right: 60px;
}
.more_lecture_btn {
  box-sizing: border-box;
  gap: 10px;
  width: 170px;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.more_lecture_btn:hover {
  background: #000;
  transition: 0.3s;
}

/* *RATE SECTION */

.rated {
  padding: 120px 0 0 0;
}
.rate_content {
  display: flex;
  justify-content: space-between;
}
.rate_text_content {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.rate_untitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.rate_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 50px;
}
.rate_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 40px;
  text-align: center;
}
.rate_img_block {
  display: flex;
}
.rate_img {
  margin-right: 35px;
}
.rate_img:last-of-type {
  margin-right: 0;
}
.certificate_img {
  width: 100%;
  max-width: 705px;
}

/* *TEAM SECTION */

.team {
  padding: 165px 0 100px 0;
  background: #f4f5f7;
}
.team_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.team_text_block {
  display: flex;
  flex-direction: column;
}
.team_text_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.team_text_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
}
.team_title_button_block {
  display: flex;
}
.team_title_btn {
  background: #f8f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 17px 15px;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  cursor: pointer;
}
.team_title_btn:hover {
  background: #ff3f3a;
  transition: 0.3s;
}
.team_title_btn:hover .team_title_btn_img {
  fill: #ffffff;
  transition: 0.1s;
}

.team_title_btn_img {
  fill: #424551;
}
.team_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 180px;
}
.background_team_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  border-radius: 4px;
  background: #ffcf2d;
  margin-bottom: 16px;
}
/* .team_card_hover_block {
  padding: 60px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, 
  rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
border-radius: 4px;
width: 285px;
} */
.swiper_img {
  width: 100%;
  max-width: 1070px;
}
.team_card_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-bottom: 4px;
}
.team_card_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #787a80;
}
.team_swiper_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_swiper_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.team_swiper_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
  margin-bottom: 60px;
}
.team_swiper_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_swiper_zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -70px;
}
.swiper_mobile_btn_block {
  display: none;
}
.mobile_team_swiper_btn {
  background: #f8f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 17px 15px;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  cursor: pointer;
  margin-right: 40px;
  margin-bottom: 30px;
}
.mobile_team_swiper_btn:last-of-type {
  margin-right: 0;
}
.team_swiper_btn {
  background: #f8f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 17px 15px;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 150px;
}
.team_swiper_btn:hover {
  background: #ff3f3a;
  transition: 0.3s;
}
.mobile_team_swiper_btn:hover {
  background: #ff3f3a;
  transition: 0.3s;
}
.team_swiper_btn:hover .team_title_btn_img {
  fill: #ffffff;
  transition: 0.1s;
}
.mobile_team_swiper_btn:hover .team_title_btn_img {
  fill: #ffffff;
  transition: 0.1s;
}
.swiper_dots {
  display: flex;
}
.swiper_dot {
  margin-right: 12px;
}

/* *LATEST POSTS */

.posts {
  padding: 120px 0;
}
.latest_post_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.latest_post_title_button {
  box-sizing: border-box;
  gap: 10px;
  width: 161px;
  padding: 17px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.latest_post_title_button:hover {
  background: #000;
  transition: 0.3s;
}
.latest_post_area {
  display: flex;
  justify-content: center;
}
.latest_posts {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 25px;
}
.latest_post_card_infoblock {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.latest_post_card_img {
  width: 100%;
  max-width: 390px;
  margin-bottom: 16px;
}
.latest_post_infoblock_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  margin-right: 12px;
}
.latest_post_slash {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  margin-right: 12px;
}
.latest_post_infoblock_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #787a80;
  margin-right: 12px;
}
.latest_post_calendar {
  width: 100%;
  max-width: 15px;
  margin-right: 8px;
}
.latest_post_clock {
  width: 100%;
  max-width: 15px;
  margin-right: 8px;
}
.latest_post_card_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  max-width: 390px;
  margin-bottom: 8px;
}
.latest_post_card_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 16px;
  max-width: 390px;
}
.latest_post_cardtitle_button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #1e212c;
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 15px 20px;
  border: 1px solid #ffffff;
}
.latest_post_cardtitle_button:hover {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  transition: 0.3s all;
}
.orange_arrow {
  margin-left: 10px;
}

/* *SUBCRIBE SECTION */

.subscribe {
  padding: 120px 0;
  background-color: #fedcd2;
  position: relative;
}
.subscribe_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subscribe_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 8px;
}
.subscribe_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  max-width: 800px;
  text-align: center;
  margin-bottom: 60px;
}
.subscribe_form {
 display: flex;
}
.input {
  background: #ffffff;
  border: 1px solid #d7dadd;
  border-radius: 4px;
  padding: 13px 16px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  outline: none;
  width: 420px;
  margin-right: 25px;
}
.subcribe_img {
  position: absolute;
  width: 354px;
  height: 246px;
  right: 0px;
  top: 51%;
}
.subcribe_img1 {
  position: absolute;
  width: 354px;
  height: 246px;
  left: 0px;
  top: 51%;
}

/* *FOOTER */

.footer {
  padding: 60px 0;
  background: #1e212c;
}
.footer_wrapper {
  display: flex;
}
.mobile_sociaties_footer_block {
  display: none;
}
.sociaties_footer_block {
  display: flex;
  flex-direction: column;
  margin-right: 80px;
}
.footer_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 110%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  margin-right: 5px;
  margin-bottom: 25px;
}
.footer_sociaties_para {
  max-width: 280px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 40px;
}
.footer_sociaties_img_block {
  display: flex;
  align-items: center;
}
.footer_soc_icon {
  fill: #9a9ca5;
  width: 100%;
  max-width: 21px;
  margin-right: 20px;
}
.footer_soc_icon:hover {
  fill: #ffffff;
}
.info_footer_block_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 12px;
}
.info_footer_block {
  margin-right: 80px;
}
.info_footer_block_nav {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  opacity: 0.6;
  margin-bottom: 8px;
  cursor: pointer;
}
.info_footer_block_nav:hover {
  opacity: 1;
  transition: 0.3s;
}
.footer_contact_block {
  margin-right: 80px;
}
.footer_contact {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}
.footer_contact_img {
  fill: #9a9ca5;
  margin-right: 10px;
}
.footer_contact_nav {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.6;
  color: #ffffff;
  cursor: pointer;
}
.footer_contact_nav:hover {
  opacity: 1;
  transition: 0.3s;
}
.footer_contact:hover .footer_contact_img {
  fill: #ffffff;
  transition: 0.3s;
}
.footer_sign_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 24px;
}
.footer_input {
  padding: 9px 12px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 286px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  outline: none;
  margin-bottom: 12px;
}
.footer_sign_commit {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  max-width: 290px;
}
.footer_bottom {
  padding: 30px 0;
  background: #262935;
}
.footer_bottom_content {
  display: flex;
  justify-content: space-between;
}
.footer_mobile_sign_block {
  display: none;
}
.rights_block {
  display: flex;
}
.rights_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  max-width: 500px;
}
.nav_bottom_footer {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.6;
}

/* !PAGE2 */

.uni_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uni_sub {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
margin-bottom: 8px;
}
.uni_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
text-align: center;
}
.courses {
  padding: 0 0 120px 0;
}
.courses_btn_area {
  display: flex;
  justify-content: space-between;
  margin-top: 65px;
  align-items: center;
  margin-bottom: 60px;
}
.courses_buttons {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
.courses_btn {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Lato';
 font-style: normal;
 font-weight: 700;
 font-size: 16px;
 line-height: 160%;
text-align: center;
color: #9A9CA5;
background: #ffffff;
cursor: pointer;
margin-right: 12px;
box-sizing: border-box;
height: 50px;
}
.courses_btn:hover {
  border: 1px solid #FF3F3A;
 color: #FF3F3A;
 transition: 0.3s;
}
.courses_btn:last-of-type {
  margin-right: 0;
}
.course_btn_sup {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 10px;
line-height: 150%;
margin-left: 5px;
margin-bottom: 10px;
}
.courses_btn_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 315px;
  padding: 12px 16px;
  box-sizing: border-box;
  background: #FFFFFF;
border: 1px solid #D7DADD;
border-radius: 4px;
}
.courses_input {
  border: none;
  outline: none;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #9A9CA5;
}
.courses_card_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
}
.course_page_card {
  width: 100%;
  max-width: 390px;
  background: #FFFFFF;
border: 1px solid #E5E8ED;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
border-radius: 4px;
transition: 1s;
cursor: pointer;
}
.course_page_card:hover {
  transform: scale(105%);
  transition: 1s;
}
.course_page_img_card {
  width: 100%;
  max-width: 390px;
  height: 240px;
}
.courses_loader_block {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.courses_loader {
  display: flex;
  align-items: center;
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
display: flex;
align-items: center;
color: #424551;
background: #ffffff;
border: none;
cursor: pointer;
justify-content: center;
}
.courses_load_icon {
  margin-right: 16px;
}
.page_swiper_section {
  background: #F4F5F7;
  padding: 80px 0 100px 0;
}
.courses_cards_area {
  display: flex;
  justify-content: center;
}

/* !PAGE_3 */

.uni_sub_orange {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #FF3F3A;
margin-bottom: 12px;
}
.uni_title_orange {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
   max-width: 1020px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1E212C;
  margin-bottom: 120px;
}


/* *ABOUT_COURSE_PAGE */

.about_course_left_f_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 40px;
}
.about_course_left_f_sub {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
max-width: 600px;
}
.about_course_left_first_block {
  margin-bottom: 50px;
}
.about_course_left_s_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
color: #1E212C;
margin-bottom: 23px;
}
.about_course_list_item {
  list-style: none;
  background: url(./images/check.svg) no-repeat 0 4px;
  padding-left: 30px;
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
}
.about_course_page {
  padding: 120px 0;
}
.about_course_content {
  display: flex;
  justify-content: space-between;
}
.about_course_right_block {
  background: #FFFFFF;
  padding: 40px 32px;
border: 1px solid #E5E8ED;
box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
border-radius: 4px;
box-sizing: border-box;
width: 100%;
max-width: 495px;
height: 550px;
}
.about_coure_right_sub {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
margin-bottom: 5px;
}
.about_coure_right_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 130%;
color: #FF3F3A;
margin-bottom: 8px;
}
.about_coure_right_sub2 {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;  
color: #787A80;
}
.about_course_right_text_block {
  margin-bottom: 32px;
}
.about_course_right_text_block:last-of-type {
  margin-bottom: 40px;
}
.about_course_right_btn {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
cursor: pointer;
border: none;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 44px;
letter-spacing: 0.5px;
height: 45px;
color: #FFFFFF;
box-sizing: border-box;
}
.about_course_right_btn:hover {
  background: #000;
  transition: 0.3s all;
}
.curator_content_area {
  display: flex;
  justify-content: space-between;
}
.curator_content_block {
  margin-top: 20px;
}
.curator_content_title_block {
  margin-bottom: 20px;
}
.curator_content_sub {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
margin-bottom: 8px;
}
.curator_content_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
margin-bottom: 16px;
}
.curator_content_sub2 {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #787A80;
margin-bottom: 32px;
}
.curator_rait_cap {
  margin-bottom: 32px;
}
.curator_cap {
  display: flex;
  align-items: center;
}
.curator_cap_icon {
  margin-right: 8px;
}
.curator_cap_text {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
display: flex;
align-items: center;
color: #424551;
}
.curator_content_main_text {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
max-width: 600px;
margin-bottom: 40px;
}
.curator_socials_icons {
  display: flex;
  align-items: center;
}
.curator_social_icon {
  margin-right: 24px;
  cursor: pointer;
}

/* *MAINS_STEPS */

.main_steps {
  padding: 180px 0;
}
.main_steps_block {
 display: flex;
 margin-top: 32px;
 justify-content: center;
}
.number_step_block {
  display: flex;
  align-items: center;
}
.number_step_circle1 {
 height: 116px;
  width: 116px;
  border-radius: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
  transition: 0.3s;
}
.number_step_circle2 {
  max-width: 84px;
  width: 100%;
  max-height: 84px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

}
.number_step {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
display: flex;
align-items: center;
color: #D7DADD;
}
.number_step_circle1:hover {
  background: #eb9f9c6c;
}
.number_step_circle1 :hover {
  background: #ff4d4665;
}
.number_step:hover {
  color: #FF3F3A;
  background: #ff4d4665;
}
.text_step_block {
  max-width: 285px;
}
.step_block_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #1E212C;
margin-bottom: 8px;
}
.step_block_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #787A80;
}

/* *DISCONT */

.discont_block {
  background: linear-gradient(55.95deg, #e2b1b077 0%, #f5c3a67c 100%);
border-radius: 4px;
 padding: 48px 60px;
 width: 100%;
 height: 245px;
 box-sizing: border-box;
}
.discont_top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.discont_time_left {
  display: flex;
}
.discont_time {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 25px;
}
.discont_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 130%;
color: #1E212C;
}
.discont_number {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 130%;
color: #1E212C;
}
.discont_cap {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 150%;  
color: #1E212C;
}
.discont_input_form {
  margin-right: 25px;
}
.discont_bottom_content {
  display: flex;
  align-items: center;              
  margin-top: 35px;
}
.discont_top_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #424551;
margin-bottom: 8px;
}
.discont_input {
  background: #FFFFFF;
outline: none;
border: 1px solid #D7DADD;
border-radius: 4px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
padding: 11px 16px;
color: #9A9CA5;
box-sizing: border-box;
width: 290px;
}
.discont_btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
width: 100%;
padding: 20px 0;
display: flex;
justify-content: center;
align-items: center;
}

/* *FOR_WHOM_PAGE */

.for_whom {
  padding: 180px 0;
}
.for_whom_content {
  display: flex;
  justify-content: space-between;
}
.for_whom_right_area {
  margin-top: 35px;
}
.for_whom_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
margin-bottom: 8px;
}
.for_whom_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
max-width: 495px;
}
.for_whom_list_item {
  list-style: none;
  background: url(./images/check.svg) no-repeat 0 4px;
  padding-left: 30px;
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #424551;
max-width: 565px;
margin-bottom: 20px;
}
.for_whom_list_item:last-of-type {
  margin-bottom: 0;
}

/* *COURSES_ACCORDION */

.course_accordion_block {
  padding:  0 0 120px 0;
}
.course_accordion_all_content {
  display: flex;
  justify-content: space-between;
}
.accordion_title_block {
  margin-bottom: 60px;
}
.course_accordion_illustration {
  margin-top: 70px;
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 550px;
}
.courses_accordion_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 8px;
color: #1E212C;
}
.courses_accordion_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
}
.course_accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}
.course_accordion .course_accordion_main_content {
  position: relative;
}
.course_accordion .course_accordion_main_content .course_accordion_label {
  position: relative;
  background: #ffffff;
  cursor: pointer;
  height: 55px;
  box-sizing: border-box;
}
.course_label_plus {
  margin-right: 20px;
}
.course_label_minus {
  margin-right: 20px;
}
.course_accordion .course_accordion_main_content .course_label_plus::before {
  position: absolute;
  top: 50%;
  right: 20px;
  font-size: 1.5em;
  background-color: #000;
}
.course_accordion .course_accordion_main_content .course_label_minus {
  display: none;
}
.course_accordion_text {
  font-family: 'Lato';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 160%;
color: #424551;
max-width: 560px;
}
.accordion .accordion_main_content.active .course_label_plus {
  display: none;
}
.accordion .accordion_main_content.active .course_label_minus {
  display: block;
}
.course_accordion_label {
  display: flex;
  align-items: center;
}
.course_label_span {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
color: #FF3F3A;
}
.course_label_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
color: #1E212C;
}
.course_accordion_main_content.active .course_accordion_label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.course_accordion_text {
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 2.9vh;
  color: #4f4e4e;
  width: auto;
  word-wrap: break-word;
}

.accordion_list_item {
  font-family: "Gilroy-Regular", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 165.9%;
  color: #4f4e4e;
  max-width: 676px;
  list-style: disc;
  margin-left: 25px;
  margin-top: 10px;
}
.course_accordion .course_accordion_main_content .course_accordion_content {
  position: relative;
  background: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  max-width: 800px;
}
.course_accordion .course_accordion_main_content.active .course_accordion_content {
  padding: 10px 70px 40px 50px;
  box-sizing: border-box;
  width: 100%;
  max-width: 800px;
  height: auto;
}

/* *LOGIN */

.course_login {
  background: #F4F5F7;
  padding: 80px 0 100px 0;
}
.course_login_area {
  margin-top: 180px;
  display: flex;
  justify-content: space-between;
}
.course_login_title_block {
  margin-bottom: 40px;
}
.course_login_sub {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 8px;
color: #1E212C;
}
.course_login_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
} 
.course_login_input_block {
  margin-bottom: 24px;
}
.course_login_input_block:last-of-type {
  margin-bottom: 40px;
}
.course_login_input_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
margin-bottom: 8px;
color: #424551;
}
.course_login_input {
  background: #FFFFFF;
 padding: 13px 16px;
border: 1px solid #D7DADD;
border-radius: 4px;
width: 100%;
max-width: 495px;
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #9A9CA5;
outline: none;
}
.course_login_btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
border: none;
cursor: pointer;
padding: 5px 0;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 52px;
letter-spacing: 0.5px;
color: #FFFFFF;
width: 100%;
max-width: 529px;
height: 52px;
display: flex;
justify-content: center;
align-items: center;
}
.course_login_btn:hover {
  background: #000;
  transition: 0.3s all;
}

.also_like {
  padding: 120px 0 180px 0;
}
.also_like_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
letter-spacing: 1px;
text-transform: uppercase;
margin-bottom: 8px;
color: #1E212C;
}
.also_like_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
color: #1E212C;
}
.also_like_courses {
  display: flex;
  justify-content: space-between;
}
.also_course_card {
    display: flex;
    background: #ffffff;
    border: 1px solid #e5e8ed;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;
    width: 100%;
    max-width: 600px;
    transition: 1s;
    cursor: pointer;
}
.also_course_card:hover {
  transform: scale(105%);
  transition: 1s;
}
.also_like_more {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.also_like_more_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 150%;
display: flex;
align-items: center;
margin-right: 40px;
color: #1E212C;
}
.also_like_more_btn {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
border-radius: 4px;
border: none;
cursor: pointer;
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 52px;
padding: 5px 0;
width: 100%;
max-width: 200px;
height: 52px;
box-sizing: border-box;
display: flex;
align-items: center;
justify-content: center;
letter-spacing: 0.5px;
color: #FFFFFF;
}
.also_like_more_btn:hover {
  background: #000;
  transition: 0.3s all;
}

@media screen and (max-width:1300px) {
  .subcribe_img {
    display: none;
  }
  .subcribe_img1 {
    display: none;
  }
}
@media screen and (max-width: 1250px) {
  .active_user_area {
    display: none;
  }
  .header {
    justify-content: space-between;
    padding: 25px 20px;
  }
  .header_list {
    display: none;
  }
  .home {
    padding: 20px 30px;
  }
  .home_page {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .home_page {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .home_page_textarea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .home_page_buttons {
    margin-bottom: 50px;
  }
  .home_page_title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    color: #1e212c;
    line-height: 130%;
    max-width: 500px;
    margin-bottom: 60px;
    text-align: center;
  }
  .home_page_nominates {
    align-items: center;
  }
  .home_page_nominate:last-of-type {
    margin-right: 60px;
  }
  .main_block_about {
    padding: 0px 50px;
  }
  .woman_img {
    width: 100%;
    max-width: 600px;
  }
  .featured_courses {
    padding: 0 50px;
  }
  .benefits {
    padding: 30px 50px;
  }
  .benefits_button_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
    justify-items: center;
  }
  .events {
    padding: 50px;
  }
  .lectures_area {
    display: flex;
    justify-content: center;
  }
  .lecture_btn {
    padding: 0 20px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    background: #ffffff;
    color: #ff3f3a;
    border-radius: 4px;
    border: 1px solid #ff3f3a;
    margin-left: 60px;
    cursor: pointer;
  }
  .lectures_block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
    column-gap: 100px;
  }
  .lecture {        
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 25px;
    box-sizing: border-box;
    width: 100%;
    max-width: 250px;
  }
  .lecture_dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .lecture_date_title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
    max-width: 150px;
    text-align: center;
    margin-left: 20px;
  }
  .lecture_btn {
    padding: 0px 0px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    background: #ffffff;
    color: #ff3f3a;
    border-radius: 4px;
    border: 1px solid #ff3f3a;
    cursor: pointer;
    margin-right: 50px;
    width: 100px;
    justify-content: center;
  }

  .lecture_date_subtitle {
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #787a80;
    margin-bottom: 15px;
    text-align: center;
  }
  .lecture_date_title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #1e212c;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .lecture_date {
    margin-right: 0;
  }
  .lecture_date_time {
   margin-right: 0;
}
.rated {
  padding: 120px 0 0 0;
}
.rate_title {
  text-align: center;
}
.rate_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rate_text_content {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.team_title_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.team_text_block {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.team_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 180px;
}
.swiper_mobile_btn_block {
  display: flex;
}
.team_swiper_btn {
 display: none;
}
.latest_posts {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  column-gap: 25px;
}
.mobile_sociaties_footer_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.sociaties_footer_block {
  display: none;
  flex-direction: column;
  margin-right: 80px;
}
.footer_wrapper {
  display: flex;
  justify-content: center;
}
.footer_sociaties_para {
  max-width: 500px;
  margin-bottom: 20px;
}
.footer_bottom {
  padding: 30px 40px;
  background: #262935;
}
.footer_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 110%;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  margin-right: 5px;
  margin-bottom: 25px;
  text-align: center;
}
.header_logo2 {
  margin-right: 0;
}
.courses_buttons {
  margin-bottom: 50px;
}
.courses_btn_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.courses_card_menu {
  width: 100%;
  max-width: 800px;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
}
}
@media screen and (max-width: 1100px) {
  .about {
    padding: 70px 0;
  }
  .main_block_about {
    flex-direction: column;
    align-items: center;
  }
  .woman_img {
    margin-bottom: 40px;
  }
  .courses_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1050px) {
  .point2 {
    margin-right: 65px;
    margin-top: -92px;
    visibility: hidden;
  }
  .benefits_content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;                                                    
    flex-direction: column;
  }
  .benefits_content_subtitle {
    max-width: 500px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 900px) {
  .lectures_block {
    column-gap: 50px;
  }
  .footer_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .footer_sign_block {
    display: none;
  }
  .footer_contact_block {
    margin-right: 0;
  }
  .footer_mobile_sign_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 850px) {
  .courses_buttons {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 800px) {
  .lectures_block {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 50px;
    column-gap: 20px;
  }
}


@media screen and (max-width: 720px) {
  .home_page_nominate {
    margin-top: -50px;
    margin-left: 100px;
    margin-bottom: 60px;
  }
  .point {
    visibility: hidden;
  }
  .about_subtitle2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .about_title2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #1e212c;
    margin-bottom: 40px;
  }
  .about_title {
    font-size: 36px;
    margin-bottom: 2  0px;
  }
  .about_subtitle3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .about_title3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .lectures_title {
    font-size: 36px;
  }
  .rate_title {
    font-size: 36px;
  }
  .team_text_title {
    font-size: 36px;
  }
  .team_swiper_title {
    font-size: 36px;
  }
  .uni_title {
    font-size: 36px;
  }
  .benefits_button_block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 80px;
    justify-items: center;
    margin-bottom: 40px;
  }
  .benefits_content_textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .lectures_block {
   margin-bottom: 20px;
  }
  .more_lecture_block {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .more_lecture_title {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .subscribe_title {
    font-size: 36px;
  }
  .courses_card_menu {
    width: 100%;
    max-width: 390px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 700px) {
  .lectures_block {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 20px;
    column-gap: 20px;
  }
  .lecture {        
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 4px;
    margin-bottom: 25px;
    box-sizing: border-box;
    width: 300px;
  }
  .mobile_team_swiper_btn {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .subscribe_form {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .input {
    background: #ffffff;
    border: 1px solid #d7dadd;
    border-radius: 4px;
    padding: 13px 16px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    outline: none;
    width: 100%;
    max-width: 420px;
    margin-bottom: 30px;
    margin-right:0;
  }
}
@media screen and (max-width: 600px) {
  .home_page_nominates {
    display: none;
  }
  .course_img_card {
    width: 100%;
    max-width: 200px;
  }
  .course_card {
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  .courses_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
    justify-items: center;
  }
  .text_card_content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 32px 10px;
    align-items: center;
  }
  .rated {
    padding: 120px 50px 0 50px;
  }
}
@media screen and (max-width: 550px) {
  .team_cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 20px;
    column-gap: 30px;
    margin-bottom: 180px;
  }
}
@media screen and (max-width: 500px) {
  .course_img_card {
    width: 100%;
    max-width: 170px;
  }
  .course_card_title {
    font-size: 17px;
  }
  .corse_card_cap {
    font-size: 15px;
  }
  .course_card_span {
    font-size: 15px;
  }
  .courses_intro_button {
    padding: 0 30px;
    height: 52px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff3f3a;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
  .team {
    padding: 100px 0;
    background: #f4f5f7;
  }
  .about_btn {
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
    cursor: pointer;
    border: none;
    color: #ffffff;
  }
  .info_footer_block {
    margin-right: 0;
    margin-bottom: 20px;
   text-align: center;
  }
  .footer_contact_block {
    text-align: center;
  }
  .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_sociaties_para {
    max-width: 280px; 
  }
  .courses_buttons {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .courses {
    padding: 0 0 70px 0;
  }
}
@media screen and (max-width: 450px) {
  .home_page_nominate {
    margin-right: 100px;
    margin-top: -50px;
  }
  .home_page_span {
    font-size: 40px;
  }
  .home_page_title {
    font-size: 42px;
  }
  .header {
    margin-bottom: 60px;
  }
  .benefits {
    padding: 30px;
  }
  .rated {
    padding: 120px 30px 0 30px;
  }
}

@media screen and (max-width: 400px) {
  .home_page_title {
    font-size: 30px;
  }
  .home_page_btn1 {
    padding: 10px 30px;
    font-size: 10px;
  }
  .home_page_btn2 {
    padding: 10px 30px;
    font-size: 10px;
  }
  .home_page_showreel {
    font-size: 10px;
  }
  .showreel_img {
    max-width: 50px;
  }
  .home_page_title {
    margin-bottom: 25px;
  }
  .home_page_mainimg {
    margin-bottom: -100px;
  }
  .about_title {
    font-size: 30px;
  }
  .about_title2 {
    font-size: 30px;
  }
  .about_title3 {
    font-size: 30px;
  }
  .about_title3 {
    font-size: 30px;
  }
  .lectures_title {
    font-size: 30px;
  }
  .rate_title {
    font-size: 30px;
  }
  .about_list_item {
    font-size: 13px;
  }
  .about_btn {
    padding: 10px 30px;
    font-size: 12px;
  }
  .about_subtitle {
    font-size: 12px;
  }
  .about_subtitle2 {
    font-size: 12px;
  }
  .header {
    margin-bottom: 30px;
  }
  .logo_title {
    font-size: 17px;
  }
  .header_logo2 {
    max-width: 15px;
  }
  .courses_intro {
    flex-direction: column;
  }
  .courses_text_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefits_content_title {
    font-size: 30px;
  }
  .benefits_content_subtitle {
    font-size: 13px;
  }
  .rate_img_block {
    display: flex;
    flex-direction: column;
  }
  .rate_img {
    margin-right: 0;
  }
  .certificate_img {
   display: none;
  }
  .latest_post_title_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .latest_post_card_infoblock {
    padding: 0 15px;
  }
  .latest_post_cardtitle_block {
    padding: 0 15px;
  }
}
@media screen and (max-width:350px) {
  .courses_buttons {
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
}
