html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: "Lato", sans-serif;
}
.container {
  max-width: 1250px;
  margin: 0 auto;
}
.home {
  background-color: #fedcd2;
}
.header {
  padding: 25px 0;
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}
.header_logo {
  width: 100%;
  max-width: 130px;
  margin-right: 3px;
}
.logo_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 110%;
  color: #1e212c;
  text-decoration: none;
  display: flex;
}
.header_logo2 {
  width: 100%;
  max-width: 27px;
  margin-right: 60px;
}
.header_logo2:hover {
  transform: rotate(90deg);
  transition: 0.7s;
  cursor: pointer;
}
.header_list {
  display: flex;
}
.header_list_item {
  list-style-type: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: #424551;
  margin-right: 40px;
  cursor: pointer;
}
.header_list_item:hover {
  color: #ff3f3a;
  transition: 0.3s;
}
.header_list_item:last-of-type {
  margin-right: 0;
}
.header_button {
  width: 200px;
  padding: 17px 5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  border-radius: 4px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}
.header_button:hover {
  background: #000;
  transition: 0.3s all;
}
.active_user_area {
  display: flex;
  align-items: center;
  margin-left: 190px;
}
.header_login_area {
  display: flex;
  justify-content: space-between;
}
.login_img {
  width: 100%;
  max-width: 20px;
  margin-right: 10px;
}
.header_login {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #424551;
  cursor: pointer;
}
.home_page {
  display: flex;
  margin-bottom: 180px;
  justify-content: center;
  justify-content: space-between;
}
.home_page_textarea {
  display: flex;
  flex-direction: column;
}
.home_page_mainimg {
  width: 100%;
  max-width: 600px;
}
.showreel_img {
  width: 100%;
  max-width: 84px;
  margin-right: 5px;
}
.showreel_img:hover {
  transform: rotate(90deg);
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  transition: 1s;
  margin-right: 10px;
}
.showreel {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  cursor: pointer;
}
.home_page_showreel {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #1e212c;
}
.home_page_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  letter-spacing: 1px;
  color: #1e212c;
  line-height: 130%;
  max-width: 500px;
  margin-bottom: 60px;
  margin-left: 10px;
}
.home_page_buttons {
  display: flex;
}
.home_page_btn1 {
  box-sizing: border-box;
  gap: 10px;
  padding: 15px 45px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff3f3a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
  margin-right: 20px;
}
.home_page_btn2 {
  box-sizing: border-box;
  gap: 10px;
  padding: 15px 45px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.home_page_btn2:hover {
  background: #000;
  transition: 0.3s;
}
.home_page_nominates {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home_page_nominate {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  color: #1e212c;
  margin-right: 65px;
  margin-bottom: 100px;
}
.home_page_nominate:last-of-type {
  margin-right: 0px;
}
.home_page_span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1e212c;
  margin-right: 12px;
}
.point {
  margin-right: 65px;
  margin-top: -92px;
}
.point2 {
  margin-right: 65px;
  margin-top: -92px;
}

/* ABOUT */

.about {
  padding: 180px 0;
}
.main_block_about {
  display: flex;
  justify-content: space-between;
}

.text_block_about {
  display: flex;
  flex-direction: column;
}
.about_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.about_list_item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 12px;
  max-width: 370px;
  list-style: none;
  background: url(/images/check.svg) no-repeat 0 4px;
  padding-left: 24px;
}
.about_list_item:last-of-type {
  margin-bottom: 40px;
}
.about_btn {
  box-sizing: border-box;
  gap: 10px;
  width: 161px;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.about_btn:hover {
  background: #000;
  transition: 0.3s;
}
.woman_img {
  width: 100%;
  max-width: 705px;
}

/* COURSES */

.courses_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.about_subtitle2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title2 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 40px;
}
.courses_intro_button {
  padding: 0 40px;
  height: 52px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff3f3a;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}

.courses_menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
}
.course_img_card {
  width: 100%;
  max-width: 214px;
}
.course_card {
  display: flex;
  background: #ffffff;
  border: 1px solid #e5e8ed;
  box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}
.course_card:hover {
  transform: scale(105%);
  transition: 1s;
}
.text_card_content {
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  padding: 32px 0;
}
.course_name_card1 {
  background: #03cea4;
  border-radius: 4px;
  padding: 2px 5px;
  width: 80px;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
}
.course_name_card2 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 90px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #5a87fc;
}
.course_name_card3 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 110px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #f89828;
}
.course_name_card4 {
  border-radius: 4px;
  padding: 2px 5px;
  width: 70px;
  max-width: 100%;
  border: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 22px;
  background: #f52f6e;
}
.course_card_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
  margin-bottom: 20px;
}
.course_card_span {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #ff4242;
}
.corse_card_cap {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #787a80;
}

/* BENEFITS */

.benefits {
  padding: 140px 0;
}
.about_subtitle3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.about_title3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 30px;
}
.benefits_button {
  border: none;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #9a9ca5;
  background: #ffffff;
  width: 307px;
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #ffffff;
}
.benefits_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.benefits_button_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 80px;
}
.benefits_button_img {
  fill: #9a9ca5;
}
.benefits_button_text {
  margin-left: 10px;
}
.benefits_button:hover {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  transition: 0.3s all;
}
.benefits_button:hover .benefits_button_img {
  fill: #ff3f3a;
  transition: 0.3s;
}
.benefits_content_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.benefits_content_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 24px;
}
.benefits_content_subtitle {
  max-width: 500px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
}
.benefits_illustration {
  width: 100%;
  max-width: 600px;
}

.events {
  background-color: #fedcd2;
  padding: 80px 0;
}
.events_title_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.lectures_block {
  margin-bottom: 50px;
}
.lecture {
  padding: 32px 40px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 4px;
  margin-bottom: 25px;
}
.lecture:hover {
  transform: scale(102%);
  transition: 1s all;
}
.lecture:hover {
  box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16),
    0px 30px 24px -10px rgba(255, 63, 58, 0.1),
    0px 12px 10px -6px rgba(255, 63, 58, 0.08),
    0px 4px 4px -4px rgba(30, 33, 44, 0.05);
  transition: 0.7s all;
}
.lecture_date {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.lecture_date_time {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 1px;
  color: #ff3f3a;
  margin-right: 20px;
}
.lecture_date_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1e212c;
}
.lecture_date_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: #787a80;
}
.lecture_btn {
  padding: 0px 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: #ffffff;
  color: #ff3f3a;
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  margin-left: 60px;
  cursor: pointer;
}
.lecture_btn:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
  transition: 0.3s all;
}
.lecture_btn2 {
  padding: 0px 20px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;
  background: #ffffff;
  color: #ff3f3a;
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  margin-left: 300px;
  cursor: pointer;
}
.lecture_btn2:hover {
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  color: #ffffff;
  transition: 0.3s all;
}
.more_lecture_block {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more_lecture_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 150%;
  color: #1e212c;
  margin-right: 60px;
}
.more_lecture_btn {
  box-sizing: border-box;
  gap: 10px;
  width: 170px;
  padding: 15px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.more_lecture_btn:hover {
  background: #000;
  transition: 0.3s;
}

/* RATE SECTION */

.rated {
  padding: 120px 0 0 0;
  height: 450px;
}
.rate_content {
  display: flex;
  justify-content: space-between;
}
.rate_text_content {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}
.rate_untitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.rate_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1e212c;
  margin-bottom: 50px;
}
.rate_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #424551;
  margin-bottom: 40px;
}
.rate_img_block {
  display: flex;
}
.rate_img {
  margin-right: 35px;
}

/* TEAM SECTION */

.team {
  padding: 165px 0 100px 0;
  background: #f4f5f7;
}
.team_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.team_text_block {
  display: flex;
  flex-direction: column;
}
.team_text_subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1e212c;
  margin-bottom: 10px;
}
.team_text_title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
  color: #1e212c;
}
.team_title_button_block {
  display: flex;
}
.team_title_btn {
  background: #f8f3f3;  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 17px 15px;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  cursor: pointer;
}
.team_title_btn:hover { 
  background: #FF3F3A;
  transition: 0.3s;
}
.team_title_btn:hover .team_title_btn_img { 
  fill: #ffffff;
  transition: 0.1s;
}

.team_title_btn_img {
    fill: #424551;
}
.team_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 180px;
}
.background_team_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
border-radius: 4px;
background: #FFCF2D;
margin-bottom: 16px;
}
/* .team_card_hover_block {
  padding: 60px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, 
  rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
border-radius: 4px;
width: 285px;
} */
.team_card_title {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 150%;
text-align: center;
margin-bottom: 4px;
}
.team_card_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
text-align: center;
color: #787A80;
}
.team_swiper_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team_swiper_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;
color: #1E212C;
margin-bottom: 8px;
}
.team_swiper_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 46px;
line-height: 130%;
text-align: center;
color: #1E212C;
margin-bottom: 60px;
}
.team_swiper_block {
 display: flex;
 flex-direction: column;
 align-items: center;
}
.team_swiper_zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -70px;
}
.team_swiper_btn {
  background: #f8f3f3;  
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  border: none;
  padding: 17px 15px;
  width: 48px;
  height: 48px;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: 150px;
}
.team_swiper_btn:hover { 
  background: #FF3F3A;
  transition: 0.3s;
}
.team_swiper_btn:hover .team_title_btn_img { 
  fill: #ffffff;
  transition: 0.1s;
}
.swiper_dots {
  display: flex;
}
.swiper_dot {
  margin-right: 12px;
}

/* LATEST POSTS */

.posts {
  padding: 120px 0;
}
.latest_post_title_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.latest_post_title_button {
  box-sizing: border-box;
  gap: 10px;
  width: 161px;
  padding: 17px 20px;
  border-radius: 4px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
  cursor: pointer;
  border: none;
  color: #ffffff;
}
.latest_post_title_button:hover {
  background: #000;
  transition: 0.3s;
}
.latest_posts {
  display: flex;
  justify-content: space-between;
}
.latest_post_card_infoblock {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.latest_post_card_img {
    margin-bottom: 16px;
}
.latest_post_infoblock_title {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
color: #787A80;
margin-right: 12px;
}
.latest_post_slash {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #787A80;
margin-right: 12px;
}
.latest_post_infoblock_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
color: #787A80;
margin-right: 12px;
}
.latest_post_calendar {
  width: 100%;
  max-width: 15px;
  margin-right: 8px;
}
.latest_post_clock {
  width: 100%;
  max-width: 15px;
  margin-right: 8px;
}
.latest_post_card_title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
  max-width: 390px;
  margin-bottom: 8px;
} 
.latest_post_card_subtitle {
  font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 160%;
color: #424551;
margin-bottom: 16px;
max-width: 390px;
}
.latest_post_cardtitle_button {
  font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 160%;
color: #1E212C;
margin-right: 10px;
display: flex;
align-items: center;
cursor: pointer;
background-color: #ffffff;
border-radius: 4px;
padding: 15px 20px;
border: 1px solid #ffffff;
}
.latest_post_cardtitle_button:hover {
  color: #ff3f3a;
  border: 1px solid #ff3f3a;
  transition: 0.3s all;
}
.orange_arrow {
  margin-left: 10px;
}

@media screen and (max-width: 1250px) {
  .active_user_area {
    display: none;
  }
  .header {
    justify-content: space-between;
    padding: 25px 20px;
  }
  .header_list {
    display: none;
  }
  .home {
    padding: 20px 30px;
  }
  .home_page {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .home_page {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .home_page_textarea {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }
  .home_page_buttons {
    margin-bottom: 50px;
  }
  .home_page_title {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 1px;
    color: #1e212c;
    line-height: 130%;
    max-width: 500px;
    margin-bottom: 60px;
    text-align: center;
  }
  .home_page_nominates {
    align-items: center;
  }
  .home_page_nominate:last-of-type {
    margin-right: 60px;
  }
  .main_block_about {
    padding: 0px 50px;
  }
  .woman_img {
    width: 100%;
    max-width: 600px;
  }
  .featured_courses {
    padding: 0 50px;
  }
  .benefits {
    padding: 30px 50px;
  }
  .benefits_button_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
    justify-items: center;
  }
  .events {
    padding: 50px 50px;
  }
  .lecture_btn {
    padding: 0 20px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
    background: #ffffff;
    color: #ff3f3a;
    border-radius: 4px;
    border: 1px solid #ff3f3a;
    margin-left: 60px;
    cursor: pointer;
  }
}
@media screen and (max-width: 1100px) {
  .about {
    padding: 70px 0;
  }
  .main_block_about {
    flex-direction: column;
    align-items: center;
  }
  .woman_img {
    margin-bottom: 40px;
  }
  .courses_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1050px) {
  .point2 {
    margin-right: 65px;
    margin-top: -92px;
    visibility: hidden;
  }
  .benefits_content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .benefits_content_subtitle {
    max-width: 500px;
    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #424551;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 720px) {
  .home_page_nominate {
    margin-top: -50px;
    margin-left: 100px;
    margin-bottom: 60px;
  }
  .point {
    visibility: hidden;
  }
  .about_subtitle2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .about_title2 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #1e212c;
    margin-bottom: 40px;
  }
  .about_title {
    margin-bottom: 10px;
  }
  .about_subtitle3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .about_title3 {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 130%;
    color: #1e212c;
    margin-bottom: 10px;
  }
  .benefits_button_block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 80px;
    justify-items: center;
    margin-bottom: 40px;
  }
  .benefits_content_textblock {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .home_page_nominates {
    display: none;
  }
  .course_img_card {
    width: 100%;
    max-width: 200px;
  }
  .course_card {
    flex-direction: column;
    align-items: center;
    width: 200px;
  }
  .courses_menu {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 40px;
    justify-items: center;
  }
  .text_card_content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding: 32px 10px;
    align-items: center;
  }
}
@media screen and (max-width: 500px) {
  .course_img_card {
    width: 100%;
    max-width: 170px;
  }
  .course_card_title {
    font-size: 17px;
  }
  .corse_card_cap {
    font-size: 15px;
  }
  .course_card_span {
    font-size: 15px;
  }
  .courses_intro_button {
    padding: 0 30px;
    height: 52px;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff3f3a;
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
  }
}
@media screen and (max-width: 450px) {
  .home_page_nominate {
    margin-right: 100px;
    margin-top: -50px;
  }
  .home_page_span {
    font-size: 40px;
  }
  .home_page_title {
    font-size: 42px;
  }
  .header {
    margin-bottom: 60px;
  }
  .benefits {
    padding: 30px 30px;
  }
}

@media screen and (max-width: 400px) {
  .home_page_title {
    font-size: 30px;
  }
  .home_page_btn1 {
    padding: 10px 30px;
    font-size: 10px;
  }
  .home_page_btn2 {
    padding: 10px 30px;
    font-size: 10px;
  }
  .home_page_showreel {
    font-size: 10px;
  }
  .showreel_img {
    max-width: 50px;
  }
  .home_page_title {
    margin-bottom: 25px;
  }
  .home_page_mainimg {
    margin-bottom: -100px;
  }
  .about_title {
    font-size: 30px;
  }
  .about_title2 {
    font-size: 30px;
  }
  .about_title3 {
    font-size: 30px;
  }
  .about_title3 {
    font-size: 30px;
  }
  .about_list_item {
    font-size: 13px;
  }
  .about_btn {
    padding: 10px 30px;
    font-size: 12px;
  }
  .about_subtitle {
    font-size: 12px;
  }
  .about_subtitle2 {
    font-size: 12px;
  }
  .header {
    margin-bottom: 30px;
  }
  .logo_title {
    font-size: 17px;
  }
  .header_logo2 {
    max-width: 15px;
  }
  .courses_intro {
    flex-direction: column;
  }
  .courses_text_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .benefits_content_title {
    font-size: 30px;
  }
  .benefits_content_subtitle {
    font-size: 13px;
  }
}
